# Terraform
*.tfstate
*.tfstate.*
*.tfplan
tfplan
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
*.tfvars
!example.tfvars

# Backup files
*.bak
*.backup

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.tmp
*_template*.json
